* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    color:aliceblue;
}

.flex-row {
    display: flex;
}

/*header*/
header {
    padding: 20px 35px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-size: 40px;
    color:azure;
    font-weight: bold;
    margin: 0;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 1.55vw;
    color: aliceblue;
    font-weight: lighter;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background-color: aliceblue;
    color: cadetblue;
    border-radius: 15px;
    text-shadow: none;
}

body {
    background-color: aliceblue;
}

/*Hero*/
.hero {
    background-image: url('../images/italy-profile-pic.jpeg');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-subtitle {
    background-color: cadetblue;
    border: 1px solid antiquewhite;
    padding:15px;
    width: 150px;
    color: cadetblue;
    position: absolute;
    bottom: 5px;
    right: 5px;
    line-height: 1.2;
    border-radius: 15px;
}

.hero-subtitle h3 {
    font-size: 25impx;
    text-align: center;
    color: aliceblue;
    font-style: italic;
    font-weight: lighter;
}

/*idk you gotta figure this one out chief*/
.section-title {
    font-size: 45px;
    border-bottom: 3px solid;
    color: cadetblue;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 20%;
}

.bio p {
    line-height: 1.7;
    color: cadetblue;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.works {
    width: 100x;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work {
    margin: 20px;
    flex: 0 0 200px;
    background: aliceblue;
    color: cadetblue;
}

.work img {
    width: 100%;
    border-radius: 15px;
}

.work-title {
    padding: 25px;
    line-height: 1.3;
}

.work-title h3 {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.contact-info address {
    line-height: 1.7;
    color: cadetblue;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

